<div>
    <a><button>Home</button></a>

<a href='/maketweets/'>Post Tweet</a>
<a href='/login/'>Login</a>
<a href='/logout/'>Logout</a>
<a href= '/notifications/'>User Notifications</a>
<a href= 'signup/'>Register</a>
<a href= '/user/{{user.twitteruser.id}}/'>User profile</a>
</div>
<div>
<h1> {{user}}</h1>
</div>
<div>
    <ul>
 
{% for item in data %}

<li><a href='/user/{{item.tweet_author.id}}/'>{{item.tweet_author}}</a></li>
<li>{{item.body}}</li>
</li><a href='/tweet/{{item.id}}/'>{{item.post_date}}</a></li>


{% endfor %}
</ul>
</div>